body {
    text-align: center;
}
.styled-table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.label1 {
    font-size: x-large;
    font: bold;
}
.errorColor {
    color: red;
}
.firstrow {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    border-top: solid 1px #000000;
}
.preFirstRow {
    border-top: solid 1px #000000;
    background-color: #559464
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
